html {
  /* background-image: url("../assets/image/extra_clean_paper.png"); */
  /* background-color: rgba(248, 245, 239, 1);; */
  background-color: white;
  font-family: "Helvetica"
}

*::selection {
background: rgba(254, 217, 10, 0.7);
}