html {
  /* background-image: url("../assets/image/extra_clean_paper.png"); */
  /* background-color: rgba(248, 245, 239, 1);; */
  background-color: white;
}

*::selection {
background: rgba(254, 217, 10, 0.7);
}

pre[class*="language-"] { 
    font-size: 0.8em; 
    margin: 2em 0em 2em 0em;
    background-color: #272c34;
    border-radius: 3px;
}

code[class*="language-"],
pre[class*="language-"] {
    color: #f5f5f5;
    text-shadow: none;
    font-family: 'SFMono-Regular','Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
}

:not(pre) > code[class*="language-"] {
	/* padding: .1em; */
    border-radius: .3em;
    color: red;
	white-space: normal;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, 0);
}